* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    position:relative;
    gap: 20px;
    height: 70%;
    width: 70%;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    background-color: #343a40   ;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
    
h1 {
    position: absolute;
    top: 10px;
}

.top {
    width: 60%;
}

#task {
    margin-top: 80px;
    width: 70%;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(149, 149, 217, 0.189);
    color: #fff;
}

#task::placeholder {
    color: #dedbd2  ;
}

#btn {
    margin-left: 5px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(38, 38, 253, 0.919);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#btn:focus {
    background-color: rgba(7, 85, 76, 0.919);
}

.delete {
    margin-left: 5px;
    padding: 0 5px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(255, 71, 71, 0.919);
}

ul {
    list-style-type: none;
}